@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 28, 33, 1) 51%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
}
